{% extends 'base.html'%}
{%load static%}
 {% block cssnhanvien %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css'%}">
  {%endblock%}
{% block quanly-dexuat-sep%}
{% if cv.sep == True %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Quản Lý Phê Duyệt Đề Xuất</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active">Đề Xuất</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<section class="content">
      <div class="container-fluid">
<table class="table">
                    <thead>
                    <tr>
                        <th>

                        </th>

                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td>


                            <div class="row">
                          
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3>{% if duyet_tp.demsep %} {{duyet_tp.demsep}} {%else%} 0 {%endif%} </h3>

                                            <p>Đễ Xuất Chờ Sếp Duyệt</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-edit"></i>
                                        </div>
                                        <a href="{% url 'quan-ly-de-xuat-sep'%}" class="small-box-footer"> Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <h3>{% if duyet_tp.demht %} {{duyet_tp.demht}} {%else%} 0 {%endif%} </h3>

                                            <p>Đề Xuất Đã Duyệt</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-checkmark-circled"></i>
                                        </div>
                                        <a href="{% url 'quan-ly-de-xuat-da-duyet'%}" class="small-box-footer">Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-sercondary">
                                        <div class="inner">
                                            <h3>{% if duyet_tp.demtu %} {{duyet_tp.demtu}} {%else%} 0 {%endif%} </h3>

                                            <p>Đề Xuất Đã Tạm Ứng</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-arrow-swap"></i>
                                        </div>
                                        <a href="{% url 'quan-ly-de-xuat-da-tam-ung'%}" class="small-box-footer">Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!--     -->
                                
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h3>{% if duyet_tp.demhuy %} {{duyet_tp.demhuy}} {%else%} 0 {%endif%} </h3>

                                            <p><strong>Đề Xuất Bị Từ Chối</strong></p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-close-circled"></i>
                                        </div>
                                        <a href="{% url 'quan-ly-de-xuat-da-huy'%}" class="small-box-footer">Xem<i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
      </div>
    <!-- /.content -->
 <!-- Main content -->
 <section class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
             

              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title badge badge-pill badge-warning ">DANH SÁCH ĐỀ XUẤT CHỜ SẾP DUYỆT  

                      </h3>
                      <br><br>
                      <form>
                      <div class="col col-3">
                      
                        <select name="selectpb" id="selectpb" class="form-control">
                       <option value="100">__xem tất cả__</option>

                        {%for item in phongban%}
                        <option value="{{item.id}}"> {{item.tenpb}}</option>
                        {%endfor%}
                        </select>
                        
                        </div>

                        
                            

                    </form>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                              <th>Ngày Gửi</th>
                              <th>Nhân Viên</th>
                              <th>Phòng Ban</th>
                              <th>Nội Dung</th>
                              <th>Số Tiền Dự Trù</th>
                              <th>Ghi Chú</th>
                              <th>Trang Thái Duyệt </th>
                              <th>action</th>
                          </tr>
                          </thead>
                          <tbody>
                          {%for item in dexuat %}
                          <tr>
                              <td>

                                  {{item.created_at|date:"d-m-y"}}
                                  
                              </td>
                              <td>
                                  {{item.nhanvien}}
                              </td>
                              <td>{{item.phongban}}</td>
                              <td>{{item.tieude}}</td>
                              <td> {% load humanize %}
                                  {{item.kinhphi|floatformat:0|intcomma}}</td>
                              <td>{{item.ghichu}}</td>
                              <td><ul>
                                {%if item.trangthaiduyet_tp == False%} 
                                <li  style="color: rgb(250, 55, 7);">TP Chưa Duyệt</li>
                                 {%else %}
                                 <li  style="color: rgb(54, 85, 7);" >TP Đã Duyệt</li>
                                {% endif %} 
                                {%if item.trangthaiduyet_sep == False%} 
                                <li style="color: rgb(250, 55, 7);">Sếp Chưa Duyệt</li>
                                 {%else %}
                                <li style="color: rgb(41, 68, 2);">Sếp Đã Duyệt</li>
                                {% endif %}
                                  </ul> 
                              </td>
                              <td>
                                
                                <a href="{% url 'xu-ly-duyet-sep' item.id%}" class="btn btn-warning">Phê Duyệt</a>
                                

                              </td>
                          </tr>
                          {%endfor%}

                          </tbody>
                          <tfoot>
                          <tr>
                              <th>Ngày Gửi</th>
                              <th>Nhân Viên</th>
                              <th>Phòng Ban</th>
                              <th>Nội Dung</th>
                              <th>Số Tiền Dự Trù</th>
                              <th>Ghi Chú</th>
                              <th>Trang Thái Duyệt </th>
                              <th>action</th>
                          </tr>
                          </tfoot>
                      </table>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
          <!-- /.col -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<style>
    .page-item.active .page-link{
        z-index: 3;
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;


    }
    .btn-secondary {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
    }
    .btn-secondary:hover{
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;
    }
</style>


  </div>

{% else %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Bạn Không Có Quyền  : <a href="javascript:history.back()" class="btn btn-dark">Quay Lai</a></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active">Đề Xuất</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
        

</div>
</section>
{%endif%}
{%endblock%}

{% block scripttable %}

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js'%}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- AdminLTE App -->
<!--<script src="{% static 'dist/js/adminlte.min.js'%}"></script>-->
<!--XOA-->




<!-- AdminLTE for demo.html purposes -->
<script src="{% static 'dist/js/demo.js'%}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [ "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>



{% endblock%}