{% extends 'base.html'%}
{%load static%}

{%block form-dexuat-tp%}
{%if cv.tp == True %}
<div class="content-wrapper">

    <section style="padding:20px">


        <h1
            style="color: darkred;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;">
            ĐỀ XUẤT Số : <span class="label label-primary"> {{ dexuat.id}}</span></h1><br>
        <form method="post" id="indexForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col mb-4">

                    <h6>
                        Tên Nhân Viên
                        <input type="text" value="{{dexuat.nhanvien}}" disabled class="form-control">
                    </h6>

                    <h6>
                        Email
                        <input class="form-control " value="{{dexuat.nhanvien.email}}" readonly name="email"
                            type="text">

                    </h6>

                    <h6>Chi Phí Dự Trù:
                        <input class="form-control " value="{{dexuat.kinhphi}}" name="kinhphi"
                            style="background-color: rgb(253, 253, 253); color: indianred; block-size: 0%;border: indianred;"
                            disabled type="text">
                    </h6>
                </div>
                <div class="col mb-4">
                    <h6>Phòng Ban :
                        <input type="text" value="{{dexuat.phongban}}" disabled class="form-control">

                        </select>
                    </h6>
                    <h6>Thời Gian Dự Kiến Hoàn Thành:<input type="text" disabled="True" name="thoigiandukien"
                            value="{{dexuat.thoigianhoanthanh}}" class="form-control"></h6>
                            <h6>Nhân viên cùng tham gia</h6>
                            <div class="form-group">
                                <select class="form-control select2bs4" multiple="multiple" name="nhanviencc" id="id_nhanviencc"
                                    data-placeholder="Nhập tên để thêm nhanh" disabled style="width: 100%;"
                                    data-dropdown-css-class="select2-purple">
                                    {%for key,val in dexuat.nhanviencc %}
        
                                    <option selected value="{{key}}"> {{val}}</option>
        
                                    {%endfor%}
                                </select>
                            </div>
                </div>

                <div class="col mb-3">


                    <h6>Ghi chú:

                        <textarea name="ghichu" id="inputGhichu" disabled class="form-control"
                            rows="1">{{dexuat.ghichu}}</textarea>

                    </h6>
                    <h6>
                        Trạng thái Phê Duyệt TP :
                        {%if dexuat.trangthaiduyet_tp == True %}
                        <input type="text" value="Đã Duyệt" class="form-control"
                            style="background-color: rgb(50, 95, 5);color: rgb(245, 240, 240);">
                        {%else%}
                        <input type="text" value="Chưa Phê Duyệt" class="form-control"
                            style="background-color: rgb(119, 8, 8);color: rgb(245, 240, 240);">
                        {%endif%}
                    </h6>
                    <h6>
                        Trạng thái Phê Duyệt Sep :
                        {%if dexuat.trangthaiduyet_tp == True %}
                        {%if dexuat.trangthaiduyet_sep == False %}
                        <input type="text" value="Chưa Duyệt" class="form-control"
                            style="background-color: rgb(50, 95, 5);color: rgb(245, 240, 240);">
                        {%endif%}
                        {%if dexuat.trangthaiduyet_sep == True %}
                        <input type="text" value="Đã Duyêt" class="form-control"
                            style="background-color: rgb(52, 178, 228);color: rgb(245, 240, 240);">
                        {%endif%}
                        {%endif%}

                        {%if dexuat.trangthaiduyet_tp == False %}
                        {%if dexuat.trangthaiduyet_sep == False %}
                        <input type="text" value="Chưa Duyệt" class="form-control"
                            style="background-color: rgb(50, 95, 5);color: rgb(245, 240, 240);">
                        {%endif%}
                        {%if dexuat.trangthaiduyet_sep == True %}
                        <input type="text" value="Chỉ Cần Tp duyệt" class="form-control"
                            style="background-color: rgb(52, 178, 228);color: rgb(245, 240, 240);">
                        {%endif%}
                        {%endif%}

                    </h6>
                </div>



            </div>
            <div class="row">



                <div class=" noidung col mb-12" class="table-responsive">

                    <table class=" noidung table border">
                        <tr>
                            <div>
                                <th style="color: rgb(103, 103, 231);">Nhân viên liên quan :</th>
                                <td> <input value="{{dexuat.nhanviencc}}" class="form-control" readonly></td>
                            </div>
                        </tr>
                        <br>
                        <tr style="background-color: rgb(179, 225, 252);">
                            <th colspan="2" style="color: rgb(230, 29, 69);">Đề Xuất : <br> <span
                                    style="color: rgb(9, 96, 136);">{{dexuat.tieude}}</span> </th>
                        </tr>
                        <tr>
                            <td colspan="2"> <strong>Mô Tả :</strong> <br>
                                {{dexuat.noidung|safe }}
                            </td>
                        </tr>
                        <style>
                            .noidung {

                                overflow: scroll;
                            }
                        </style>
                    </table>
                </div>


            </div>
            <br>
            <div id="quaylai" name="quaylai">
                <a href="javascript:history.back()" class="btn btn-lg btn-info "> Quay Lại </a>
            </div>
            <style>
                #quaylai {
                    width: 100%;
                    text-align: center;
                }

                #quaylai {
                    display: inline-block;
                }
            </style>
</div>

</form>
</section>
</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{%endif%}
{%endblock%}
