<tr><th><label for="id_code">Barcode:</label></th><td><input type="text" name="code" value="9" class="form-control" disabled="true" maxlength="200" required id="id_co
de"></td></tr>
<tr><th><label for="id_nhacungcap">Nhà cung cấp:</label></th><td><select name="nhacungcap" class="form-control" required id="id_nhacungcap">
  <option value="">---------</option>

  <option value="1" selected>Daikin VN</option>

  <option value="2">AH</option>

  <option value="3">EH</option>

</select></td></tr>
<tr><th><label for="id_noidung">Nội Dung :</label></th><td><input type="text" name="noidung" value="{&quot;id_hangsx1&quot;: null, &quot;ten_hangsx1&quot;: null, &quo
t;hang_1&quot;: null, &quot;tenhang_1&quot;: null, &quot;soluong_1&quot;: null, &quot;dongia_1&quot;: null, &quot;id_hangsx2&quot;: null, &quot;ten_hangsx2&quot;: nul
l, &quot;hang_2&quot;: null, &quot;tenhang_2&quot;: null, &quot;soluong_2&quot;: null, &quot;dongia_2&quot;: null, &quot;id_hangsx3&quot;: null, &quot;ten_hangsx3&quo
t;: null, &quot;hang_3&quot;: null, &quot;tenhang_3&quot;: null, &quot;soluong_3&quot;: null, &quot;dongia_3&quot;: null, &quot;id_hangsx4&quot;: null, &quot;ten_hang
sx4&quot;: null, &quot;hang_4&quot;: null, &quot;tenhang_4&quot;: null, &quot;soluong_4&quot;: null, &quot;dongia_4&quot;: null}" hidden="true" class="form-control" r
equired id="id_noidung"></td></tr>
<tr><th><label for="id_username">Tài Khoản:</label></th><td><select name="username" required id="id_username">
  <option value="">---------</option>

  <option value="1" selected>admin</option>

  <option value="2">thangnguyen</option>

  <option value="3">tieptan</option>

  <option value="4">hanhle</option>

  <option value="5">hungnguyen</option>

  <option value="6">trinhtran</option>

  <option value="7">linhpham</option>

  <option value="8">tannguyen</option>

  <option value="9">nhito</option>

</select></td></tr>
<tr><th><label for="nhanvien">Tên Kinh doanh(không  điền trường này):</label></th><td><input type="text" name="nhanvien" value="Huỳnh Đức Nguyện" class="form-control"
 id="nhanvien" disabled="true" maxlength="200"></td></tr>
<tr><th><label for="id_kho">Kho:</label></th><td><select name="kho" class="form-control" required id="id_kho">
  <option value="">---------</option>

  <option value="1" selected>Kho Cao Thắng</option>

  <option value="2">Kho Bà Điểm</option>

</select></td></tr>
<tr><th><label for="id_tinhtrang">Duyệt:</label></th><td><input type="checkbox" name="tinhtrang" id="id_tinhtrang"></td></tr>
<tr><th><label for="id_tuchoi">Từ Chối:</label></th><td><input type="checkbox" name="tuchoi" id="id_tuchoi"></td></tr>
<tr><th><label for="id_thoigiantao">Thoigiantao:</label></th><td><input type="text" name="thoigiantao" value="2021-06-15" class="form-control" required id="id_thoigia
ntao"></td></tr>
<tr><th><label for="id_thoigiannhanhang">Thoigiannhanhang:</label></th><td><input type="text" name="thoigiannhanhang" value="2021-06-27" class="form-control" required
 id="id_thoigiannhanhang"></td></tr>
<tr><th><label for="id_ghichu">Ghi Chú  :</label></th><td><input type="text" name="ghichu" value="s" class="form-control" maxlength="200" required id="id_ghichu"></td
></tr>
<tr><th><label for="id_phanhoi">Phản Hồi  :</label></th><td><input type="text" name="phanhoi" value="." maxlength="200" required id="id_phanhoi"></td></tr>
