{% extends 'base.html'%}

{% block profile%}

<div class="content-wrapper">
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

             <div class="card card-success ">
              <div class="card-header">

                <h3 class="card-title">THÔNG TIN : {{ nv.tennv}}</h3><br>
              </div>


              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="table-responsive">

                <table class="table table-bordered table-hover">

                  <thead>
                    <tr>
                      <th style="color:#686503">Mã Nhân Viên </th>
                      <th>{{nv.manv}}</th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Tên Nhân Viên</th>
                      <th>{{nv.tennv}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#686503">Giới Tính</th>
                      <th>
                           {% if nv.gioitinh is True %}
                            Nam
                           {% else %}
                            Nữ
                           {% endif %}
                      </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Ngày Sinh</th>
                      <th>
                        <span>{{nv.ngaysinh}}</span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Địa Chỉ Liên Hệ</th>
                      <th>
                        <span>{{nv.diachi}}</span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Quê Quán</th>
                      <th>
                        <span>{{nv.quequan}}</span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Số CCID</th>
                      <th>
                        <span>{{nv.cmnd}}</span>
                         </th>
                    </tr>

                    <tr>
                      <th  style="color:#686503">CCID Mặt Trước</th>
                      <th>
                        <span><a href="{{nv.cmnd_1.url}}"><img src="{{nv.cmnd_1.url}}" width="150" height="80" ></a> </span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">CCID Mặt Sau</th>
                      <th>
                        <span><a href="{{nv.cmnd_2.url}}"><img src="{{nv.cmnd_2.url}}" width="150" height="80" ></a> </span>
                         </th>
                    </tr>

                  </thead>

                </table>
              </div>

               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <div class="table-responsive">

                <table class="table table-bordered table-hover">

                  <thead>
                    <tr>
                      <th  style="color:#686503">Chân Dung</th>
                      <th>
                        <span><a href="{{nv.avatar.url}}"><img src="{{nv.avatar.url}}" width="150" height="80" ></a> </span>
                         </th>
                    </tr>
                    <tr>
                      <th style="color:#686503">Số Điện Thoại </th>
                      <th>{{nv.sdt}}</th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Line Nội Bộ</th>
                      <th>{{nv.line}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#686503">Email</th>
                      <th>
                          {{nv.email}}
                      </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Phòng Ban</th>
                      <th>
                        <span>{{nv.phongban}}</span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">HDLD</th>
                      <th>
                        <span>{% if nv.tinhtrangcongviec is True%} Nhân Viên Chính Thức{% else %} Nhân Viên Thử Việc{%endif%} </span>
                         </th>
                    </tr>

                    <tr>
                      <th  style="color:#686503">Chữ Ký 1</th>
                      <th>
                        <span><a href="{{nv.chuky1.url}}"><img src="{{nv.chuky1.url}}" width="150" height="80" ></a> </span>
                         </th>
                    </tr>
                    <tr>
                      <th  style="color:#686503">Chữ Ký 2</th>
                      <th>
                        <span><a href="{{nv.chuky2.url}}"><img src="{{nv.chuky2.url}}" width="150" height="80" ></a> </span>
                         </th>
                    </tr>

                  </thead>

                </table>
               </div>
              </div>

            </div>

          </div>


          </div>
        </div>
<!--          HỒ SƠ NHAN VIÊN -->
           <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

             <div class="card card-info ">
              <div class="card-header">

                <h3 class="card-title">HỒ SƠ  : {{ nv.tennv}}</h3><br>
              </div>


              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="table-responsive">

                <table class="table table-bordered table-hover">

                  <thead>
                    <tr>
                      <th style="color:#5c797b">Mã Số Hợp Đồng Lao Động </th>
                      <th>{{hsld.masobh}}</th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Tên Nhân Viên</th>
                      <th>{{hsld.nhanvien}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">Ngày Bắt Đầu Thử Việc</th>
                      <th>
                        {{hsld.ngaythuviec}}
                      </th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Ngày Ký Hợp Đồng</th>
                      <th>
                        <span>{{hsld.ngaychinhthuc}}</span>
                         </th>
                    </tr>

                  </thead>

                </table>
              </div>

               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <div class="table-responsive">

                <table class="table table-bordered table-hover">


                    <tr>
                      <th style="color:#5c797b">Thâm Niên </th>
                      <th>{{now}} Năm </th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Chuyên Môn</th>
                      <th>{{hsld.chuyenmon}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">Trình Độ</th>
                      <th>
                          {{hsld.vanhoa}}
                      </th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">File Bằng Cấp</th>
                      <th>
                          ...loading
                      </th>
                    </tr>



                </table>
               </div>
              </div>


            </div>

          </div>


          </div>
        </div>

        <!-- BAO HIEM -->
         <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

             <div class="card card-info ">
              <div class="card-header">

                <h3 class="card-title">QUÁ TRÌNH ĐÓNG BẢO HIỂM XÃ HỘI</h3><br>
              </div>


              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                   <div class="table-responsive">

                <table class="table table-bordered table-hover">

                  <thead>
                    <tr>
                      <th style="color:#5c797b">Mã Số BHXH </th>
                      <th>{{hsld.masobh}}</th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Tên Nhân Viên</th>
                      <th>{{hsld.nhanvien}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">Ngày Tham Gia BHXH DSP</th>
                      <th>
                        {{hsld.ngaythuviec}}
                      </th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Nơi Đăng Ký BHXH</th>
                      <th>
                        <span>{{hsld.ngaychinhthuc}}</span>
                         </th>
                    </tr>

                  </thead>

                </table>
              </div>

               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <div class="table-responsive">

                <table class="table table-bordered table-hover">


                    <tr>
                      <th style="color:#5c797b">Thâm Niên </th>
                      <th>{{now}} Năm </th>
                    </tr>
                    <tr>
                      <th  style="color:#5c797b">Chuyên Môn</th>
                      <th>{{hsld.chuyenmon}}</th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">Trình Độ</th>
                      <th>
                          {{hsld.vanhoa}}
                      </th>
                    </tr>
                     <tr>
                      <th  style="color:#5c797b">File Bằng Cấp</th>
                      <th>
                          ...loading
                      </th>
                    </tr>



                </table>
               </div>
              </div>


            </div>

          </div>


          </div>
        </div>
      </div>
     </section>
 </div>

{% endblock %}
