{% extends 'base.html'%}
{%load static%}
 {% block cssnhanvien %}
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css'%}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css'%}">
  {%endblock%}
{% block thukho-treo%}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Quản Lý Đơn Hàng Nhập Kho</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active">Thủ Kho</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<section class="content">
      <div class="container-fluid">
<table class="table">
                    <thead>
                    <tr>
                        <th>Quản Lý Đơn Hàng Nhập Kho

                        </th>

                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td>


                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-dark">
                                        <div class="inner">
                                            <h3>{{item_donhangchoxuly}}</h3>

                                            <p>Đơn Nhâp Kho Chờ Xử Lý</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-edit"></i>
                                        </div>
                                        <a href="{% url 'thu-kho-can-xu-ly'%}" class="small-box-footer"> Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-sercondary">
                                        <div class="inner">
                                            <h3>123</h3>

                                            <p>Đơn Nhập Treo</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-loop"></i>
                                        </div>
                                        <a href="{% url 'thu-kho-treo'%}" class="small-box-footer">Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h3>112</h3>

                                            <p>Đơn Hủy</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-arrow-swap"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">Xem <i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <h3>10</h3>

                                            <p>Đơn Hoàn Thành</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-checkmark"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">Xem<i
                                                class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
      </div>
</section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        </div>
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Đơn Hàng Nhập Treo</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                 <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Nội Dung</th>
                                    <th>Kinh Doanh</th>
                                    <th>Thòi Gian Đặt</th>
                                    <th>Thời Gian Giao</th>
                                    <th>Kho</th>
                                    <th>Ghi Chú KD</th>

                                    <th>Phản Hồi Kế Toán</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for item in pnh_active %}
                                <tr>
                                    <td>
                                        <a href="">
                                        <h4>{{item.code}}</h4>
                                        <h6 style="font-family: 'Libre Barcode 39';font-size: 22px;">{{item.code}} </h6>
                                    </a>

                                    </td>
                                    <td>
                                         <table class="table table-bordered table-hover " style="font-size: 12px;">
                                             <thead>
                                                 <tr>
                                                     <th>Tên </th>
                                                     <th>SL</th>
                                                     <th>ĐG</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr>
                                                     <td> {{item.noidung.tenhang_1}}</td>
                                                     <td>{{item.noidung.soluong_1}}</td>
                                                     <td>{{item.noidung.dongia_1}}</td>
                                                 </tr>
                                                  {% if item.noidung.tenhang_2 %}
                                                  <tr>
                                                      <td>{{item.noidung.tenhang_2}}</td>
                                                      <td>{{item.noidung.soluong_2}}</td>
                                                      <td>{{item.noidung.dongia_2}}</td>
                                                  </tr>
                                                  {%endif%}
                                                  {% if item.noidung.tenhang_3 %}
                                                  <tr>
                                                      <td>{{item.noidung.tenhang_3}}</td>
                                                      <td>{{item.noidung.soluong_3}}</td>
                                                      <td>{{item.noidung.dongia_3}}</td>
                                                  </tr>
                                                  {%endif%}
                                                   {% if item.noidung.tenhang_4 %}
                                                  <tr>
                                                      <td>{{item.noidung.tenhang_4}}</td>
                                                      <td>{{item.noidung.soluong_4}}</td>
                                                      <td>{{item.noidung.dongia_4}}</td>
                                                  </tr>
                                                  {%endif%}
                                             </tbody>
                                         </table>
                                  </td>
                                    <td>{{item.nhanvien}}</td>
                                    <td>{{item.thoigiantao}}</td>
                                    <td>{{item.thoigiannhanhang}}</td>
                                    <td>{{item.kho}}</td>
                                    <td>{{item.ghichu}}</td>
                                    <td>{{item.phanhoi}}</td>
                                    <td>
                                      {% if item.tuchoi == False %}
                                      <a href=""class="btn btn-sm btn-danger" style="color:white;font-size: 10px ">Xử Lý</a>
                                      {%endif%}
                                    </td>
                                </tr>
                                {%endfor%}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Code</th>
                                    <th>Nội Dung</th>
                                    <th>Kinh Doanh</th>
                                    <th>Thòi Gian Đặt</th>
                                    <th>Thời Gian Giao</th>
                                    <th>Kho</th>
                                    <th>Ghi Chú KD</th>
                                    <th>Phản Hồi Kế Toán</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->



  </div>
{%endblock%}

{% block scripttable %}

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js'%}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<!-- AdminLTE App -->
<!--<script src="{% static 'dist/js/adminlte.min.js'%}"></script>-->
<!--XOA-->




<!-- AdminLTE for demo.html purposes -->
<script src="{% static 'dist/js/demo.js'%}"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": [ "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>



{% endblock%}