<div class=" tab-pane active" id="bhxh">
    <!-- Bảo Hiểm Xã hội  -->
    <div class="row">
        <div class="col mb-3">
            <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-red"><i
                        class="fa ion-refresh fa-star-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Ngày Tham Gia </span>
                    <span class="info-box-number">20-10-2010</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col mb-3">
            <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-info"><i
                        class="fa ion-toggle-filled fa-star-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Tổng tiền đã đóng</span>
                    <span class="info-box-number">16,000,000 VND</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col mb-3">
            <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-warning"><i
                        class="fa  ion-gear-b fa-star-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Mã Số BH </span>
                    <span class="info-box-number">BHQ32012</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="info-box ">
            <span class="info-box-icon"><i
                    class="fa ion-ios-toggle fa-comments-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Địa Chỉ Đăng Ký </span>
                <span class="info-box-number">BẢO HIỂM XÃ HỘI QUẬN 3 </span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: 0%"></div>
                </div>
                <span class="progress-description">
                    386/79 Lê Văn Sỹ, Phường 14, Quận 3, Thành phố Hồ Chí Minh
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>

    </div>
    <br>
    <div class="motabhxh">

        <div class="tab-pane" id="timeline">
            <!-- The timeline -->
            <div class="timeline timeline-inverse">
                <div class="time-label">
                    <span class="bg-info">
                        Tháng 8 - 2021
                    </span>
                </div>
                <div>
                    <i class="fas ion-clipboard bg-primary"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i></span>

                        <h3 class="timeline-header"><a href="#">Chi tiết đóng
                            </a></h3>

                        <div class="timeline-body">
                            <table
                                class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Thời gian đóng </th>
                                        <th>Só tiền nhân viên đóng </th>
                                        <th>Só tiền công ty đóng </th>
                                        <th>Tổng tiền đóng tháng 8 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!--  -->
                <div class="time-label">
                    <span class="bg-info">
                        Tháng 7 - 2021
                    </span>
                </div>
                <div>
                    <i class="fas ion-clipboard bg-primary"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> </span>

                        <h3 class="timeline-header"><a href="#">Chi tiết đóng
                            </a></h3>

                        <div class="timeline-body">
                            <table
                                class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Thời gian đóng </th>
                                        <th>Só tiền nhân viên đóng </th>
                                        <th>Só tiền công ty đóng </th>
                                        <th>Tổng tiền đóng tháng 7 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!--  -->



            </div>

            <!--  -->

            <!--  -->
        </div>
    </div>