
                                            <div class="info-box ">
                                                <span class="info-box-icon"><i class="fa ion-ios-person"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Họ Và Tên </span>
                                                    <span class="info-box-number">{{nv.tennv}}</span>
                                                    <!-- The progress section is optional -->
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 0%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        <a href="#">Ngày Sinh : {{nv.ngaysinh}}</a>
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>

                                            <div class="info-box  ">
                                                <span class="info-box-icon"><i
                                                        class="fa ion-ios-plus fa-comments-o"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Thời Gian Đăng Ký </span>
                                                    <span class="info-box-number">12-10-2020</span>
                                                    <!-- The progress section is optional -->
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 0%"></div>
                                                    </div>
                                                    <span class="progress-description">

                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <div class="info-box">
                                                <span class="info-box-icon"><i
                                                        class="fa ion-ios-compose fa-comments-o"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Thời Gian Hết Hạn </span>
                                                    <span class="info-box-number">12-10-2025</span>
                                                    <!-- The progress section is optional -->
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 0%"></div>
                                                    </div>
                                                    <span class="progress-description"
                                                        style="background-color: lawngreen;">

                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>

                                            <div class="info-box ">
                                                <span class="info-box-icon"><i
                                                        class="fa ion-ios-toggle fa-comments-o"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Địa Chỉ Đăng Ký </span>
                                                    <span class="info-box-number">Bệnh Viện 115 </span>
                                                    <!-- The progress section is optional -->
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 0%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        768 Sư Vạn Hạnh Phường 15 Quận 10 Hồ Chí Minh
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>


                                            <div class="info-box ">
                                                <span class="info-box-icon"><i
                                                        class="fa ion-ios-pulse fa-comments-o"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Mã Số BHYT </span>
                                                    <span class="info-box-number">DN202820281029</span>
                                                    <!-- The progress section is optional -->
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 0%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        <a href="#">click xem QR code</a>
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>