{% extends 'base.html'%}
{%load static%}

{%block form-xu-ly-giai-chi-tp%}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
 
 <div style="padding:50px">

    {% if giaichi.hangmuc == "1" %}   
        <h1 style="color: rgb(75, 4, 43); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Duyệt Giải Chi Mã Giải Chi <a href="#">{{giaichi.id}}</a> </h1><br>
        <form method="post" id="indexForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col col-4">

                    <h6>
                        Tên Nhân Viên
                        <input type="text" value="{{giaichi.nhanvien}}"  disabled class="form-control">
                    </h6>

                    <h6>
                        Email
                        <input class="form-control " value="{{nhanvien.email}}" readonly name="email" type="text"  >

                    </h6>

                    <h6>Giải Chi Thuộc Phòng Ban:
                        
                        <select name="phongbanguiduyet" id="phongbanguiduyet" class="form-control">
                            <option value="{{giaichi.phongban}}"> {{giaichi.phongban}}</option>
                            
                        </select>
                    </h6>
                </div>
                <div class="col col-4">
                    <h6>File Hóa Đơn: {%if giaichi.filegiaichi %}<a  target="_blank" rel="noopener noreferrer" href="http://127.0.0.1:8000/media/{{giaichi.filegiaichi}}" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >click xem chi tiết</a>
                        {%else%}
                        <a href="#" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >Không có files</a>
                        {%endif%}
                     </h6>
                    <h6 style="color: rgb(81, 125, 248);">
                        Số Tiền Đã Tạm Ứng 
                        <input type="number" value="{{giaichi.tientamung}}" disabled style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tientamung" class="form-control">
                     </h6>
                     <h6 style="color: rgb(81, 125, 248);">
                        Số  Tiền Giải Chi
                        <input type="text" value="{{giaichi.tiengiaichi}}"  disable style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tiengiaichi" id="tiengiaichi" class="form-control">
                     </h6>
                </div>
                <div class="col col-4">

                    
                    <h6>Ghi chú:

                    	<textarea name="ghichu" id="inputGhichu" class="form-control"  rows="3" >{{dexuat.ghichu}}</textarea>

                    </h6>
                    <h6>
                        Gửi Duyệt :
                       <select class="form-control" id="pheduyet" name="pheduyet">
                            <option value="0">Phê Duyệt</option>
                            <option value="1">Từ Chối Phê Duyệt</option>
                       </select>

                    </h6>
                    
                </div>
                

                          
            </div>  
            <div class="row">
                <div class="col col-12">
                   
                    <table class="table table-hover border">
                        <tr style="background-color: rgb(66, 66, 2); color: floralwhite;">
                            <th> {{giaichi.tieude}} </th>
                        </tr>
                        
                        
                    </table>
                    <table class="table table-bordered">
                        
                        <tr>
                            <th>STT</th>
                            <th>Tên Thiết Bị</th>
                            <th>Số Lượng</th>
                            <th>Đơn Giá</th>
                            <th>Thành Tiền</th>
                        </tr>
                       
                        <tr>
                            <td>1</td>
                            <td>{{ giaichi.giaichithietbi.hanghoa_1 }}</td>
                            <td>{{ giaichi.giaichithietbi.soluong_1}}</td>
                            <td>{{ giaichi.giaichithietbi.dongia_1}}</td>
                            <td>{{ giaichi.giaichithietbi.thanhtien_1}}</td>
                        </tr>
                        {%if giaichi.giaichithietbi.hanghoa_2 %}
                        <tr>
                            <td>2</td>
                            <td>{{ giaichi.giaichithietbi.hanghoa_2}}</td>
                            <td>{{ giaichi.giaichithietbi.soluong_2}}</td>
                            <td>{{ giaichi.giaichithietbi.dongia_2}}</td>
                            <td>{{ giaichi.giaichithietbi.thanhtien_2}}</td>
                        </tr>
                        {%endif%}
                        {%if giaichi.giaichithietbi.hanghoa_3 %}
                        <tr>
                            <td>3</td>
                            <td>{{ giaichi.giaichithietbi.hanghoa_3}}</td>
                            <td>{{ giaichi.giaichithietbi.soluong_3}}</td>
                            <td>{{ giaichi.giaichithietbi.dongia_3}}</td>
                            <td>{{ giaichi.giaichithietbi.thanhtien_3}}</td>
                        </tr>
                        {%endif%}
                        {%if giaichi.giaichithietbi.hanghoa_4 %}
                        <tr>
                            <td>4</td>
                            <td>{{ giaichi.giaichithietbi.hanghoa_4}}</td>
                            <td>{{ giaichi.giaichithietbi.soluong_4}}</td>
                            <td>{{ giaichi.giaichithietbi.dongia_4}}</td>
                            <td>{{ giaichi.giaichithietbi.thanhtien_4}}</td>
                        </tr>
                        {%endif%}
                        {%if giaichi.giaichithietbi.hanghoa_5 %}
                        <tr>
                            <td>5</td>
                            <td>{{ giaichi.giaichithietbi.hanghoa_5}}</td>
                            <td>{{ giaichi.giaichithietbi.soluong_5}}</td>
                            <td>{{ giaichi.giaichithietbi.dongia_5}}</td>
                            <td>{{ giaichi.giaichithietbi.thanhtien_5}}</td>
                        </tr>
                        {%endif%}
                    </table>
                    
                </div>


            </div>    
                
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: absolute;
            left: 60%;margin-left: -60px;">
                <button type="submit" style="background-color: rgb(66, 66, 2); color: floralwhite;" class="btn btn-bg  ">Xác Nhận</button>
            </div>
                
            </div>

        </form>
        {%endif%}

    
        {%if giaichi.hangmuc == "2" %}
        <h1 style="color: rgb(57, 201, 245); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Duyệt Giải Chi : <a href="#">{{giaichi.id}}</a></h1><br>
        <form method="post" id="indexForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col col-4">

                    <h6>
                        Tên Nhân Viên
                        <input type="text" value="{{giaichi.nhanvien}}"  disabled class="form-control">
                    </h6>

                    <h6>
                        Email
                        <input class="form-control " value="{{giaichi.nhanvien.email}}" readonly name="email" type="text"  >

                    </h6>

                    <h6>Giải Chi Thuộc Phòng Ban:
                        
                        <select disabled name="phongbanguiduyet" id="phongbanguiduyet" class="form-control">
                            <option value="{{giaichi.phongban}}"> {{giaichi.phongban}}</option>
                           
                        </select>
                    </h6>
                </div>
                <div class="col col-4">
                    <h6>
                        File Hóa Đơn chứng từ (nếu Có): 
                        {%if giaichi.filegiaichi %}<a  target="_blank" rel="noopener noreferrer" href="http://127.0.0.1:8000/media/{{giaichi.filegiaichi}}" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >click xem chi tiết</a>
                        {%else%}
                        <a href="#" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >Không có files</a>
                        {%endif%}
                    </h6>
                    <h6 style="color: rgb(81, 125, 248);">
                        Số Tiền Đã Tạm Ứng 
                        <input type="number" value="{{giaichi.tientamung}}" disabled style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tientamung" class="form-control">
                     </h6>
                     <h6 style="color: rgb(81, 125, 248);">
                        Số  Tiền Giải Chi
                        <input type="text" style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tiengiaichi" id="tiengiaichi" class="form-control"  disabled value="{{giaichi.tiengiaichi}}">
                     </h6>
                </div>
                <div class="col col-4">

                    
                    <h6>Ghi chú:

                    	<textarea name="ghichu" id="inputGhichu" class="form-control"  rows="3" placeholder="Nhập Ghi Chú">{{giaichi.ghichu}}</textarea>

                    </h6>
                    <h6>
                        Phê Duyệt :
                       <select class="form-control" id="pheduyet" name="pheduyet">
                            <option value="0">Phê Duyệt</option>
                            <option value="1">Từ Chối Phê Duyệt</option>
                       </select>
                    </h6>
                    
                </div>
                <table class="table table-hover border">
                    <tr style="background-color: rgb(57, 201, 245);">
                        <th>{{giaichi.tieude}} </th>
                    </tr>
                    
                   <tr>
                     <td>
                        {{giaichi.giaichikhac|safe }}
                     </td>
                   </tr>
                </table>
                   
                

                          
            </div>  
            
                
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: absolute;
            left: 60%;margin-left: -60px;">
                <button type="submit" class="btn btn-bg btn-info ">Xác Nhận</button>
            </div>
                
            </div>

        </form>
    {% endif %}
    {%if giaichi.hangmuc == "0" %}
        <h1 style="color: rgb(57, 201, 245); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Duyệt Giải Chi : <a href="#">{{giaichi.id}}</a></h1><br>
        <form method="post" id="indexForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <div class="col col-4">

                    <h6>
                        Tên Nhân Viên
                        <input type="text" value="{{gaichi.nhanvien}}"  disabled class="form-control">
                    </h6>

                    <h6>
                        Email
                        <input class="form-control " value="{{giaichi.nhanvien.email}}" readonly name="email" type="text"  >

                    </h6>

                    <h6>Giải Chi Thuộc Phòng Ban:
                        
                        <select disabled name="phongbanguiduyet" id="phongbanguiduyet" class="form-control">
                            <option value="{{giaichi.phongban}}"> {{giaichi.phongban}}</option>
                           
                        </select>
                    </h6>
                </div>
                <div class="col col-4">
                    <h6>
                        File Hóa Đơn chứng từ (nếu Có): 
                        {%if giaichi.filegiaichi %}<a  target="_blank" rel="noopener noreferrer" href="http://127.0.0.1:8000/media/{{giaichi.filegiaichi}}" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >click xem chi tiết</a>
                        {%else%}
                        <a href="#" class="btn form-control" style="background-color: rgb(250, 248, 248); color: mediumblue;" >Không có files</a>
                        {%endif%}
                    </h6>
                    <h6 style="color: rgb(81, 125, 248);">
                        Số Tiền Đã Tạm Ứng 
                        <input type="number" value="{{giaichi.tientamung}}" disabled style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tientamung" class="form-control">
                     </h6>
                     <h6 style="color: rgb(81, 125, 248);">
                        Số  Tiền Giải Chi
                        <input type="text" style="border: gold; color: rgb(107, 6, 45); border: ghostwhite;" name="tiengiaichi" id="tiengiaichi" class="form-control"  disabled value="{{giaichi.tiengiaichi}}">
                     </h6>
                </div>
                <div class="col col-4">

                    
                    <h6>Ghi chú:

                    	<textarea name="ghichu" id="inputGhichu" class="form-control"  rows="3" placeholder="Nhập Ghi Chú">{{giaichi.ghichu}}</textarea>

                    </h6>
                    <h6>
                        Phê Duyệt :
                        <select class="form-control" id="pheduyet" name="pheduyet">
                            <option value  = 0 style="background-color: chartreuse; color: rgb(252, 248, 248);" >Duyệt Giải Chi </option>
                             <option value = 1 style="background-color: rgb(141, 8, 8); color: rgb(252, 248, 248);" > Từ Chối Giải Chi</option>
                         </select>
                    </h6>
                    
                </div>
                <table class="table table-hover border">
                    <tr style="background-color: rgb(57, 201, 245);">
                        <th>{{giaichi.tieude}} </th>
                    </tr>
                    
                   <tr>
                     <td>
                        {{giaichi.giaichihanghoa|safe }}
                     </td>
                   </tr>
                </table>
                   
                

                          
            </div>  
            
                
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; position: absolute;
            left: 60%;margin-left: -60px;">
                <button type="submit" class="btn btn-bg btn-info ">Xác Nhận</button>
            </div>
                
            </div>

        </form>
    {% endif %}
    </div>
    </div>
    </section>
 
</div>


<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{%endblock%}